.confirmation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .outer-circle {
      width: 200px;
      height: 200px;
      background: #f8f8f8;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .inner-circle {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: #eeeeee;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
              max-width: 30%;
          }
      }
  }
}
ion-footer {
  padding-left: 20px;
  padding-right: 20px;

  .main-button::after {
      box-shadow: none !important;
  }
}

.back-btn {
  margin-top: 20px !important;
  background-color: #3CB371;
  border-radius: 7px;
  height: 40px;
  font-size: 16px;
  width: 100%;
}
