<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Checkout</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loader *ngIf="pageLoading"></app-loader>
  <div class="container" *ngIf="!pageLoading">
    <h1 class="h1-vendor" style="margin-bottom: 5%;">{{ vendorForm.vendor_name }}</h1>

    <h1 style="margin-left: 3%; margin-right: 3%; margin-bottom: 5%;"><img style="width: 100px;" [src]="vendorForm.url"></h1>

    <div class="item-container">
      <ion-card *ngFor="let item of orderForm.products">
        <div class="upper">
          <div class="h3-div-item">
            <h3 class="h3">{{item.item_name}}</h3>
          </div>
          <div class="h3-div-quantity" style="text-align: right;">
            <h3 class="h3-item">x {{item.quantity}}</h3>
          </div>
          <div class="price-div">
            <ion-card-subtitle>LKR {{item.price}}</ion-card-subtitle>
          </div>
        </div>
      </ion-card>

      <div class="detail-container">
        <div class="sub-container">
          <div class="sub-total">
            Total
          </div>
          <div class="price">
            {{orderForm.total}}
          </div>
        </div>
      </div>

      <div style="width: 100%; display: flex; justify-content: center; margin-top: 40px;">
        <ngx-paypal style="width: 80%; max-width: 500px;" [config]="payPalConfig"></ngx-paypal>
      </div>
      <button class="checkout-btn" style="margin-top: 50px;" (click)="confirm()">Confirm</button>
    </div>
  </div>
</ion-content>
