<ion-header style="position: absolute;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img [src]="stores.url" alt="Store Picture"></ion-img>

  <div class="container">
    <h1 class="h1">{{stores.vendor_name}}</h1>


    <div>
      <h1 class="h1">{{stores.vendor_name}}</h1>

      <ion-card *ngFor="let item of items" [routerLink]="['/item', item.id]">
        <div class="ion-card">
          <div class="content">
            <ion-card-header>
              <ion-card-title>{{item.item_name}}</ion-card-title>
              <ion-card-subtitle>{{item.price}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{item.description}}
            </ion-card-content>
          </div>
          <div class="image-div">
            <img class="image" alt="Food Item Picture" [src]="item.url" />
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
