<ion-header style="position: absolute;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="./../../assets/street store.jpg" alt="Store Picture"></ion-img>

  <div class="container">
    <h1 class="h1">Street Food Store</h1>

    <ion-card>
      <div class="ion-card" routerLink="/item">
        <div class="content">
          <ion-card-header>
            <ion-card-title>Cheese And Chicken Burger</ion-card-title>
            <ion-card-subtitle>Rs.760</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
        <div class="image-div">
          <img class="image" alt="Food Item Picture" src="./../../assets/street store.jpg" />
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-card" routerLink="/item">
        <div class="content">
          <ion-card-header>
            <ion-card-title>Cheese And Chicken Burger</ion-card-title>
            <ion-card-subtitle>Rs.760</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
        <div class="image-div">
          <img class="image" alt="Food Item Picture" src="./../../assets/waffle.jpg" />
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-card" routerLink="/item">
        <div class="content">
          <ion-card-header>
            <ion-card-title>Cheese And Chicken Burger</ion-card-title>
            <ion-card-subtitle>Rs.760</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
        <div class="image-div">
          <img class="image" alt="Food Item Picture" src="./../../assets/indian store.jpg" />
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-card" routerLink="/item">
        <div class="content">
          <ion-card-header>
            <ion-card-title>Cheese And Chicken Burger</ion-card-title>
            <ion-card-subtitle>Rs.760</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
        <div class="image-div">
          <img class="image" alt="Food Item Picture" src="./../../assets/burger.jpg" />
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="ion-card" routerLink="/item">
        <div class="content">
          <ion-card-header>
            <ion-card-title>Cheese And Chicken Burger</ion-card-title>
            <ion-card-subtitle>Rs.760</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
        <div class="image-div">
          <img class="image" alt="Food Item Picture" src="./../../assets/street store.jpg" />
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
