.container {
  margin: 5%;
  margin-bottom: 50px;
}

.portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}


.h3{
  font-size: 16px;
  font-weight: 500;
}
