<ion-header [translucent]="true">
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>About</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loader *ngIf="pageLoading"></app-loader>
  <div class="container" *ngIf="!pageLoading">

    <div class="portion">
      <span style="color: black; font-weight: 600; font-size: 20px; margin-bottom: 10px; margin-top: 20px;">About App</span>
      <h3 class="h3" style="margin-top: 10px;"> N-Eats Application is a mobile application that allows users to make orders online and make payments via preferred methods to minimize the time wastage between operations.<br> This Application is strictly intended for the use of making orders more faster and should be used by authorized customers that have been given access to.</h3>
      <h3 class="h3" style="margin-top: 10px;">The Application is supported on both IOS and Android Platforms with new OS versions. If your device is not compatible with the application or if the application runs with mismatched or ruined interface contact our team to inform the issue.</h3>
      <h3 class="h3" style="margin-top: 10px;"> Read the Help Page Guideline Support to see the features available and contact us if there are any inquiries.</h3>
      <h3 class="h3" style="margin-top: 60px; font-size: 16px; font-weight: 600; text-align: center;"> For Further Support contact the Food Department head at the Food Department for any serious issues.</h3>
    </div>
  </div>
</ion-content>
