<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-title>Orders</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loader *ngIf="pageLoading"></app-loader>
  <div class="container" *ngIf="!pageLoading">
    <h1 class="h1-vendor" style="margin-bottom: 5%;">{{ "Ongoing" }}</h1>

    <div class="item-container">
      <ion-card *ngFor="let order of ongoingOrders">
        <div class="upper">
          <div style="width: 70%; text-align: left;">
            <h3 class="heading">{{order.store_name}}</h3>
          </div>
          <div style="width: 30%; text-align: right;">
            <h5 class="header-other">{{order.time}}</h5>
          </div>
        </div>
        <div class="upper">
          <div style="width: 50%; text-align: left;">
            <h3 class="header-other">{{order.id}}</h3>
          </div>
          <div style="width: 50%; text-align: right;">
            <h5 class="header-other">{{order.date}}</h5>
          </div>
        </div>
        <div class="status-div">
          <h5 class="status">{{order.status | titlecase}}</h5>
        </div>
        <div class="upper-image">
          <img style="width: 100%; height: auto;" [src]="order.store_url">
        </div>
        <div class="item-list" *ngFor="let item of order.products">
          <div class="quantity-div">
            <h3 class="h3">{{item.quantity}}</h3>
          </div>
          <div class="quantity-div">
            <h3 class="h3">{{"X"}}</h3>
          </div>
          <div class="h3-div" style="text-align: right;">
            <h3 class="h3">{{item.item_name}}</h3>
          </div>
          <div class="price-div">
            <ion-card-subtitle>LKR {{item.product_total}}</ion-card-subtitle>
          </div>
        </div>
        <div class="item-list" style="border: none;" >
          <div style="width: 50%; text-align: left;">
            <h3 class="heading" style="font-size: 18px;">Total</h3>
          </div>
          <div style="width: 50%; text-align: left;">
            <h5 class="heading" style="font-size: 18px;">{{order.total}}</h5>
          </div>
        </div>
        <div class="item-list" style="border: none; margin: 0;" >
          <div style="width: 50%; text-align: left;">
            <h3 class="heading" style="font-size: 18px;">Payment</h3>
          </div>
          <div style="width: 50%; text-align: left;">
            <h5 class="heading" style="font-size: 18px;">{{order.payment_type}}</h5>
          </div>
        </div>
        <div class="buttons-div" *ngIf="order.status === 'pending'">
          <button class="cancel">Cancel</button>
        </div>
      </ion-card>

    </div>


    <h1 class="h1" style="margin-bottom: 5%;">{{ "Completed" }}</h1>

    <div class="item-container" *ngFor="let order of completedOrders">
      <ion-card>
        <div class="upper">
          <div style="width: 70%; text-align: left;">
            <h3 class="heading">{{order.store_name}}</h3>
          </div>
          <div style="width: 30%; text-align: right;">
            <h5 class="header-other">{{order.time}}</h5>
          </div>
        </div>
        <div class="upper">
          <div style="width: 50%; text-align: left;">
            <h3 class="header-other">{{order.id}}</h3>
          </div>
          <div style="width: 50%; text-align: right;">
            <h5 class="header-other">{{order.date}}</h5>
          </div>
        </div>
        <div class="status-div">
          <h5 class="status">{{order.status | titlecase}}</h5>
        </div>
        <div class="upper-image">
          <img style="width: 100%; height: auto;" [src]="order.store_url">
        </div>
        <div class="item-list" *ngFor="let item of order.products">
          <div class="quantity-div">
            <h3 class="h3">{{item.quantity}}</h3>
          </div>
          <div class="quantity-div">
            <h3 class="h3">{{"X"}}</h3>
          </div>
          <div class="h3-div" style="text-align: right;">
            <h3 class="h3">{{item.item_name}}</h3>
          </div>
          <div class="price-div">
            <ion-card-subtitle>LKR {{item.product_total}}</ion-card-subtitle>
          </div>
        </div>
        <div class="item-list" style="border: none;" >
          <div style="width: 50%; text-align: left;">
            <h3 class="heading" style="font-size: 18px;">Total</h3>
          </div>
          <div style="width: 50%; text-align: left;">
            <h5 class="heading" style="font-size: 18px;">{{order.total}}</h5>
          </div>
        </div>
        <div class="item-list" style="border: none; margin: 0;" >
          <div style="width: 50%; text-align: left;">
            <h3 class="heading" style="font-size: 18px;">Payment</h3>
          </div>
          <div style="width: 50%; text-align: left;">
            <h5 class="heading" style="font-size: 18px;">{{order.payment_type}}</h5>
          </div>
        </div>
        <div class="buttons-div" *ngIf="order.status === 'pending'">
          <button class="cancel">Cancel</button>
        </div>
      </ion-card>

    </div>
  </div>
</ion-content>

<app-tab-bar></app-tab-bar>
