<ion-content [fullscreen]="true">
  <div class="loader-container">
    <ion-img src="./../../assets/logo-white.png" alt="Logo Picture"></ion-img>

    <div class="form-container">
      <form>
        <input class="form-input" type="text"placeholder="Enter Email">

        <input class="form-input" type="password" placeholder="Enter Password">

        <div class="buttons-div">
          <button routerLink="/home" class="form-button">LOGIN</button>
        </div>
      </form>
    </div>

    <div class="link">
      <a href="#">Forgot Your Password?</a>
    </div>
  </div>
</ion-content>
