<ion-content [fullscreen]="true">
  <div class="loader-container">
    <ion-img src="./../../assets/logo-white.png" alt="Logo Picture"></ion-img>

    <div class="form-container">
      <form>
        <input class="form-input" type="text" required placeholder="Enter Email" name="email" [(ngModel)]="loginForm.email">

        <input class="form-input" type="password" required placeholder="Enter Password" name="password" [(ngModel)]="loginForm.password">

        <div class="buttons-div">
          <button class="form-button" (click)="login()">LOGIN</button>
        </div>
      </form>
    </div>

    <div class="link" routerLink="/forgot-pass">
      <a href="#">Forgot Your Password?</a>
    </div>
  </div>
</ion-content>
