<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Password Settings</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loader *ngIf="pageLoading"></app-loader>
  <div class="container" *ngIf="!pageLoading">
    <div class="profile-div">
      <div class="inner-profile-div">
        <img class="profile-img" [src]="user.url">
        <!-- *ngIf="user.url == 'https://canteen-management-system-nsbm.s3.ap-south-1.amazonaws.com/profile+pic.jpg'" -->
        <!-- <img class="profile-img" [src]="user.url" *ngIf="user.url != 'https://canteen-management-system-nsbm.s3.ap-south-1.amazonaws.com/profile+pic.jpg' "> -->
      </div>
    </div>

    <div class="portion">
      <h1 class="sub-header">{{user.first_name +' '+ user.last_name }}</h1>
      <label for="profile" class="edit-link"  (click)="edit()">Update Password</label>
    </div>



    <form #form="ngForm">
      <div class="form-row">
        <div class="form-inner">
          <label class="form-label">Current Password:</label>
          <input class="form-input" required type="text" placeholder="Current Password" name="old" required [(ngModel)]="pass.old_password" ><br>
        </div>
        <div class="form-inner">
          <label class="form-label">New Password:</label>
          <input class="form-input" required type="text" placeholder="New Password" name="new" required [(ngModel)]="pass.new_password"><br>
        </div>
        <div class="form-inner">
          <label class="form-label">Retype New Password:</label>
          <input class="form-input" required type="text" placeholder="Retype Password" name="retype_new" required [(ngModel)]="pass.retype_new_password"><br>
        </div>
      </div>

      <div class="buttons-div" *ngIf="isEdit">
        <!-- <button [ngClass]="updateTrue == true ? 'form-button' : 'disabled'" class="form-button" (click)="onDelete(form)">DELETE EMPLOYEE</button>
        <button [ngClass]="updateTrue == true ? 'form-button' : 'disabled'" class="form-button red" (click)="onCancel()">CANCEL</button> -->
        <button class="update" (click)="Update()" >Update</button>
        <button class="cancel" (click)="Cancel()">Cancel</button>
      </div>
    </form>
  </div>
</ion-content>
