<ion-header style="position: absolute;" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-img [src]="item.url" alt="Store Picture"></ion-img>

  <div class="container">

    <ion-card >
      <div class="content" routerLink="/item">
        <ion-card-header>
          <ion-card-title>{{item.item_name}}</ion-card-title>
          <ion-card-subtitle>LKR {{item.price}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
        </ion-card-content>
      </div>
    </ion-card>

    <div class="outer-div">
      <button class="update-btn" aria-label="Favorite" (click)="minus()" [ngClass]="itemForm.products[0].quantity !== '1' ? 'update-btn' : 'disabled'">
        <ion-icon  class="icon right" name="remove" aria-hidden="true"></ion-icon>
      </button>
      {{this.itemForm.products[0].quantity}}
      <button class="update-btn" aria-label="Favorite" (click)="add()">
        <ion-icon class="icon left" name="add" aria-hidden="true"></ion-icon>
      </button>
    </div>

    <div>
      <h3>LKR {{itemForm.products[0].product_total}}</h3>
    </div>

    <div *ngIf="!sameCart">
      <h3 style="background-color: rgb(245, 71, 71); border-radius: 50px; color: white; padding: 10px; font-size: 16px; font-weight: 600; text-align: center; line-height: 1.2;">Cart with Another Vendor is Ongoing!</h3>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="add-to-cart" *ngIf="!added && sameCart">
    <div class="add" (click)="AddToCart()">
      <button class="btn-add">Add to Cart</button>
    </div>
  </ion-toolbar>
  <ion-toolbar class="view-cart" *ngIf="added || !sameCart">
    <div class="add" routerLink="/cart">
      <button class="btn-view ">View Cart</button>
    </div>
  </ion-toolbar>
</ion-footer>

