<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-title>Cart</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <app-loader *ngIf="pageLoading"></app-loader>
  <div class="container" *ngIf="itemForm.store_email !== '' && itemForm !== null && !pageLoading">
    <h1 class="h1-vendor" style="margin-bottom: 5%;">{{ vendorForm.vendor_name }}</h1>

    <h1 style="margin-left: 3%; margin-right: 3%;"><img style="width: 100px;" [src]="vendorForm.url"></h1>

    <h5 class="h2">
      Items : {{items}} &nbsp; Categories : {{categories}}
    </h5>


    <div class="item-container">
      <ion-card *ngFor="let item of itemForm.products">
        <div class="upper">
          <div class="h3-div">
            <h3 class="h1">{{item.item_name}}</h3>
          </div>
          <div class="image-div">
            <img [src]="item.url" alt="Item Picture">
          </div>
        </div>
        <div class="lower">
          <div class="lower-inner">
            <div class="quantity">
              <button class="update-btn" aria-label="Favorite" [ngClass]="item.quantity !== '1' ? 'update-btn' : 'disabled'" (click)="minus(item.id)">
                <ion-icon  class="icon right" name="remove" aria-hidden="true"></ion-icon>
              </button>
              {{item.quantity}}
              <button class="update-btn" aria-label="Favorite" (click)="add(item.id)">
                <ion-icon class="icon left" name="add" aria-hidden="true"></ion-icon>
              </button>
            </div>
            <div class="remove">
              <button class="remove-btn" aria-label="Favorite" (click)="remove(item.id)">
                <ion-icon style="font-size: 35px; color: red;" name="close-circle"></ion-icon>
              </button>
            </div>
          </div>
          <div class="price-div">
            <ion-card-subtitle>LKR {{item.product_total}}</ion-card-subtitle>
          </div>
        </div>
      </ion-card>

      <div class="sub-container">
        <div class="sub-total">
          Subtotal
        </div>
        <div class="price">
          LKR {{itemForm.sub_total}}
        </div>
      </div>

      <button *ngIf="!changed" class="checkout-btn" (click)="checkout()">Checkout</button>
      <button *ngIf="changed" class="checkout-btn" (click)="update()">Update Cart</button>
    </div>
  </div>
  <div *ngIf="emptyCart">
    <div class="container-no middle">
      <img style="height: 130px; width: 120%;" src="./../../assets/Cart2.jpg">
      <h3 style="margin-top: 30px; font-size: 18px; color: rgb(83, 83, 83);">Cart Is Empty</h3>
    </div>
  </div>
</ion-content>


<app-tab-bar></app-tab-bar>

