<ion-header [translucent]="true">
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Help</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-loader *ngIf="pageLoading"></app-loader>
  <div class="container" *ngIf="!pageLoading">

    <div class="portion">
      <span style="color: black; font-weight: 600; font-size: 24px; margin-bottom: 10px; margin-top: 10px;">Common Guidelines</span>
      <span style="color: black; font-weight: 600; font-size: 20px; margin-bottom: 10px; margin-top: 20px;">Steps and Guidelines</span>
      <h3 class="h3" style="margin-top: 10px;"> 1. To Make Orders on the Application browse through items and add items to the cart.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 2. In the Browse Page browsing any item required is possible.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 3. After Selecting Items from a single store head to the cart and update it as you require.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 4. Once cart is Updated checkout and confirm the order if the method of transaction preferred is cash.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 5. If preferred payment method is card click on bank card and enter required details and click on Pay Now to Confirm the Order.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 6. Once order is confirmed you will receive a confirmation message on a new screen and the order can be tracked on the Orders Page.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 7. In the profile page updating profile and password can be carried out.</h3>

      <span style="color: black; font-weight: 600; font-size: 20px; margin-bottom: 10px; margin-top: 30px;">Reset Forgot Password</span>
      <h3 class="h3" style="margin-top: 10px;"> 1. To reset the password if password is forgotten head to the forgot password tab from the login page and enter the email associated with us.</h3>
      <h3 class="h3" style="margin-top: 10px;"> 2. Once you receive the temporary password to your email, login to the account and change the password through the profile page.</h3>
      <h3 class="h3" style="margin-top: 40px; color: rgb(83, 83, 83); text-align: center;"> For any problems faced or any inquiries on the app contact us at neatsCMS@gmail.com</h3>

    </div>
  </div>
</ion-content>
