<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="profile-div">
      <div class="inner-profile-div">
        <img class="profile-img" src="./../../assets/profile pic.jpg">
        <!-- *ngIf="user.url == 'https://canteen-management-system-nsbm.s3.ap-south-1.amazonaws.com/profile+pic.jpg'" -->
        <!-- <img class="profile-img" [src]="user.url" *ngIf="user.url != 'https://canteen-management-system-nsbm.s3.ap-south-1.amazonaws.com/profile+pic.jpg' "> -->
      </div>
    </div>

    <div class="portion">
      <h1 class="sub-header">Dinil Jayathilake</h1>
      <label for="profile" style="margin-bottom: 10px;" class="edit-link" routerLink="/password">Change Password</label>
      <label for="profile" class="edit-link">Edit Profile</label>
    </div>

    <form #form="ngForm">
        <div class="form-row">
          <h3 class="form-header">Profile Details</h3>
          <div class="form-inner">
            <label class="form-label">First Name:</label>
            <input class="form-input" required type="text" placeholder="Enter First Name" name="first-name" required ><br>
          </div>
          <div class="form-inner">
            <label class="form-label">Last Name:</label>
            <input class="form-input" required type="text" placeholder="Enter First Name" name="first-name" required ><br>
          </div>
          <div class="form-inner">
            <label class="form-label">NIC:</label>
            <input class="form-input" required type="text" placeholder="Enter First Name" name="first-name" required ><br>
          </div>
          <div class="form-inner">
            <label class="form-label">Mobile:</label>
            <input class="form-input" required type="text" placeholder="Enter First Name" name="first-name" required ><br>
          </div>
        </div>

      <div class="buttons-div">
        <!-- <button [ngClass]="updateTrue == true ? 'form-button' : 'disabled'" class="form-button" (click)="onDelete(form)">DELETE EMPLOYEE</button>
        <button [ngClass]="updateTrue == true ? 'form-button' : 'disabled'" class="form-button red" (click)="onCancel()">CANCEL</button> -->
        <button class="form-button" >Update</button>
        <button class="form-button red">Cancel</button>
      </div>
    </form>

  </div>
</ion-content>
