<ion-content [fullscreen]="true">

  <div class="logo-container">
    <ion-searchbar color="light" placeholder="Search Food or Drinks"></ion-searchbar>
  </div>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card class="card">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/burger.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/waffle.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/street store.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-bottom: 20%;">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/indian store.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>


<div class="tabs-div">
  <ion-tab-bar class="tabs" slot="bottom">
    <ion-tab-button routerLink="/home" class="link" tab="home">
      <ion-icon class="image-color" name="home"></ion-icon>
        <a class="a">Home</a>
      </ion-tab-button>
      <ion-tab-button class="image-color" tab="radio">
        <ion-icon name="search"></ion-icon>
        <a class="a">Browse</a>
      </ion-tab-button>
      <ion-tab-button class="image-color" tab="library">
        <ion-icon name="library"></ion-icon>
        <a class="a">Orders</a>
      </ion-tab-button>
      <ion-tab-button class="image-color" tab="search">
        <ion-icon name="cart"></ion-icon>
        <a class="a">Cart</a>
      </ion-tab-button>
      <ion-tab-button routerLink="/loading" class="image-color" tab="search">
        <ion-icon name="reorder-four"></ion-icon>
        <a class="a">More</a>
      </ion-tab-button>
    </ion-tab-bar>
</div>>
