/* IMAGE STYLES */

.img-logo{
  height: 80%;
}

/* LOOGO */

.logo-container {
  display:flex;
  position: sticky;
  top: 0;
  background-color: white;
  height: fit-content;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding-top:4%;
  margin-bottom: 6%;
}

ion-searchbar {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* H1 Styles */

.h1 {
  height: 80%;
  margin: 0;
}

.h1-div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10%;
}


.card-image {
  width: 100%;
}

.card {
  margin-bottom: 10%;
}

.container {
  margin: 2%;
  margin-bottom: 100px;
}
