/* IMAGE STYLES */

.img-logo{
  height: 80%;
}

/* LOOGO */

.logo-container {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
}

/* H1 Styles */

.h1 {
  height: 80%;
  margin: 0;
}

.h1-div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10%;
}


.card-image {
  width: 100%;
}

.card {
  margin-bottom: 10%;
}




// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.tabs-div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabs {
  padding: 2px;
}

.image-color {
  color: #666666;
}

.a {
  margin-top: 5px;
  font-size: 14px;
  color:#666666;
}
