/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.toast-success {
  --color:#ffffff;
  --border-color:#3CB371;
  --border-radius:3px;
  --border-style:solid;
  --border-width:3px;
  --background: #3CB371;
  --button-color:#ffffff;
  --border-radius:50px;
  --width: 90%;
  --max-width: 400px;
  font-size: 16px;
  text-align : center;
}


.toast-failure {
  --color:#ffffff;
  --border-color:#EB445A;
  --border-radius:3px;
  --border-style:solid;
  --border-width:3px;
  --background: #EB445A;
  --button-color:#ffffff;
  --border-radius:50px;
  --width: 90%;
  --max-width: 400px;
  font-size: 16px;
  text-align : center;
}


.toast-info {
  --color:#ffffff;
  --border-color:#2572ff;
  --border-radius:3px;
  --border-style:solid;
  --border-width:3px;
  --background: #2572ff;
  --button-color:#ffffff;
  --border-radius:50px;
  --width: 90%;
  --max-width: 400px;
  font-size: 16px;
  text-align : center;
}
