<ion-content [fullscreen]="true">


  <div class="logo-container">
    <img class="img-logo" src="./../../assets/logo-white.png">
    <div class="h1-div">
      <h1 class="h1">N-EATS</h1>
    </div>
  </div>

    <!-- <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <ion-card class="card" *ngFor="let store of stores" [routerLink]="['/store', store.email]">
      <img class="card-image" alt="Silhouette of mountains" [src]="store.url" />
      <ion-card-header>
        <ion-card-title> {{store.vendor_name}}</ion-card-title>
        <!-- <ion-card-subtitle>{{store.description}} </ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        {{store.description}}
      </ion-card-content>
    </ion-card>




<div class="tabs-div">
  <ion-tab-bar class="tabs" slot="bottom">
    <ion-tab-button routerLink="/home" class="link" tab="home">
      <ion-icon class="image-color" name="home"></ion-icon>
        <a class="a">Home</a>
      </ion-tab-button>
      <ion-tab-button class="image-color" tab="radio">
        <ion-icon name="search"></ion-icon>
        <a class="a">Browse</a>
      </ion-tab-button>
      <ion-tab-button class="image-color" tab="library">
        <ion-icon name="library"></ion-icon>
        <a class="a">Orders</a>
      </ion-tab-button>
      <ion-tab-button routerLink="/cart" class="image-color" tab="search">
        <ion-icon name="cart"></ion-icon>
        <a class="a">Cart</a>
      </ion-tab-button>
      <ion-tab-button routerLink="/loading" class="image-color" tab="search">
        <ion-icon name="reorder-four"></ion-icon>
        <a class="a">More</a>
      </ion-tab-button>
    </ion-tab-bar>
</div>
