/* IMAGE STYLES */

.img-logo{
  height: 80%;
}

/* LOOGO */

.logo-container {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 3%;
}

/* H1 Styles */

.h1 {
  height: 80%;
  margin: 0;
}

.h1-div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10%;
}


.card-image {
  width: 100%;
}

.card {
  margin-bottom: 10%;
}


.container {
  margin: 2% 2% 2% 2%;
  margin-bottom: 100px;
}




// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
