<ion-content [fullscreen]="true">


  <div class="logo-container">
    <img class="img-logo" src="./../../assets/logo-white.png">
    <div class="h1-div">
      <h1 class="h1">N-EATS</h1>
    </div>
  </div>

    <!-- <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header> -->

    <div class="container">
      <ion-card class="card" *ngFor="let store of stores" [routerLink]="['/store', store.email]">
        <img class="card-image" alt="Silhouette of mountains" [src]="store.url" />
        <ion-card-header>
          <ion-card-title> {{store.vendor_name}}</ion-card-title>
          <!-- <ion-card-subtitle>{{store.description}} </ion-card-subtitle> -->
        </ion-card-header>

        <ion-card-content>
          {{store.description}}
        </ion-card-content>
      </ion-card>
    </div>
<app-tab-bar></app-tab-bar>
</ion-content>
