<ion-content [fullscreen]="true">

  <div class="logo-container">
    <img class="img-logo" src="./../../assets/logo-white.png">
    <div style="display: flex; justify-content: left; align-items: center; margin-left: 10%;">
      <h1 class="h1">N-EATS</h1>
    </div>
  </div>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-card class="card">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/burger.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/waffle.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/street store.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-bottom: 20%;">
    <img class="card-image" alt="Silhouette of mountains" src="./../../assets/indian store.jpg" />
    <ion-card-header>
      <ion-card-title>Street Food Store</ion-card-title>
      <ion-card-subtitle>Chicken Burger </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
