/* IMAGE STYLES */

.img-logo{
  height: 80%;
}

/* LOOGO */

.logo-container {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
}

/* H1 Styles */

.h1 {
  height: 80%;
  margin: 0;
}


.card-image {
  width: 100%;
}

.card {
  margin-bottom: 10%;
}
