<div class="tabs-div">
  <ion-tab-bar class="tabs" slot="bottom">

      <!-- <ion-tab-button routerLink="/home" [routerLinkActive]="['img-color']" class="image-color" tab="home">
        <ion-icon class="image-color" name="home"></ion-icon>
        <a class="a" [routerLinkActive]="['a-color']">Home</a>
      </ion-tab-button> -->

      <ion-tab-button routerLink="/home" [routerLinkActive]="['img-color']" class="image-color" >
        <ion-icon name="home"></ion-icon>
        <a class="a" [routerLinkActive]="['a-color']">Home</a>
      </ion-tab-button>

      <ion-tab-button routerLink="/browse" [routerLinkActive]="['img-color']" class="image-color" >
        <ion-icon name="search"></ion-icon>
        <a class="a" [routerLinkActive]="['a-color']">Browse</a>
      </ion-tab-button>

      <ion-tab-button routerLink="/orders" [routerLinkActive]="['img-color']" class="image-color" >
        <ion-icon name="library"></ion-icon>
        <a class="a" [routerLinkActive]="['a-color']">Orders</a>
      </ion-tab-button>

      <ion-tab-button routerLink="/cart" [routerLinkActive]="['img-color']" class="image-color" >
        <ion-icon name="cart"></ion-icon>
        <a class="a" [routerLinkActive]="['a-color']">Cart</a>
      </ion-tab-button>

      <ion-tab-button routerLink="/more" [routerLinkActive]="['img-color']" class="image-color" >
        <ion-icon name="reorder-four"></ion-icon>
        <a class="a" [routerLinkActive]="['a-color']">More</a>
      </ion-tab-button>
      <!-- // -->

    </ion-tab-bar>
</div>
