// TABS

* {
  box-sizing: border-box  ;
}

.tabs-div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabs {
  padding: 2px;
}

.image-color {
  color: #666666;
}

.a {
  margin-top: 5px;
  font-size: 14px;
  color:#666666;
}


.img-color {
  color: black;
}



.a-color {
  margin-top: 5px;
  font-size: 14px;
  color: black;
}
